body {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Começo Header */
header {
    height: 505px;
}

.header-container {
    height: 72px;
    padding: 24px 64px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 32px;
}

.drop-down {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.btn-drop-down {
    display: flex;
    align-items: center;
}

.buttons {
    display: flex;
    gap: 16px;
}


.buttons > button {
    padding: 10px 20px;
    background-color: black;
    color: white;
}

.buttons > .btn-secondary {
    background-color: transparent;
    color: black;
    border: 1px solid black;
}



.header-mega-menu {
    display: flex;
    justify-content: space-between;

    padding: 24px 64px;
}

.header-menu {
    width: 221px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.header-menu > h6 {
    font-size: 14px;
    font-weight: 600;
}

.header-list {
    display: flex;
    flex-direction: column;

    gap: 16px;
}

.blog-list {
    width: 524px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.header-blog {
    display: flex;
    gap: 32px;
}

.blog {
    display: flex;
    align-items: center;
    padding: 8px 0px;
    gap: 24px;
}

.blog-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.blog-text > a {
    font-size: 14px;
    text-decoration: underline;
}

.blog-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.blog-content > h6 {
    font-weight: 600;
}

.blog-content > p {
    font-size: 14px;
}

/* Fim Header */

/* Começo Hero Header */

main {
    height: 1220px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 32px;

    padding: 112px 64px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.hero-text > h1 {
    font-size: 56px;
    font-weight: 700;
}

.hero-text > p {
    font-size: 18px;
}


.hero-carousel {
    display: flex;
    flex-direction: column;

    gap: 16px;
}

.hero-images {
    display: flex;
    gap: 16px;

    justify-content: center;
}

/* Fim Hero Header */

/* Começo Footer */

footer {
    height: 555px;
    padding: 80px 64px;

    display: flex;
    flex-direction: column;
    gap: 32px;
}

.footer-card {
    padding: 48px;
    border: 1px solid black;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.footer-content-top {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-content-top > img {
    width: 84px;
    height: 36px;
}

.footer-text {
    display: flex;
    flex-direction: column;

    gap: 24px;
}

.footer-text > h2 {
    font-size: 56px;
    font-weight: 700;
}

.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.footer-nav {
    width: 185px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-nav > a {
    font-size: 14px;
}

.footer-link-list {
    display: flex;
    gap: 32px;
}

.footer-social-media {
    display: flex;
    gap: 12px;
}

.footer-credits {
    display: flex;
    justify-content: space-between;
}

.footer-nav-credits {
    display: flex;
    gap: 24px;
}

.footer-credits > p {
    font-size: 14px;
}

.footer-nav-credits > a {
    font-size: 14px;
    text-decoration: underline;
}

/* Fim Footer */